<div class="container-menu">
  <div class="role-profile">
    <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
      <i>A</i>
    </button>
    <div style="margin-left: 1rem;color: #fff;border: 2px solid #9b7cf2;padding: .4rem 1rem;">ADMIN</div>
  </div>
  <div class="profile">
    <mat-nav-list >
    
      <mat-list-item routerLink="home" routerLinkActive="active">
      <a>Home</a>
      </mat-list-item>
      <mat-list-item routerLink="users"  routerLinkActive="active">
        <a>Usuarios</a>
      </mat-list-item>
      <mat-list-item routerLink="courses"  routerLinkActive="active">
        <a>Cursos</a>
      </mat-list-item>
      <mat-list-item routerLink="students" routerLinkActive="active">
        <a>Alumnos</a>
      </mat-list-item>
      <mat-list-item  routerLink="enrollments" routerLinkActive="active" >
        <a>Inscripciones</a>
      </mat-list-item>
    </mat-nav-list>


    <mat-icon  routerLink="/login" style="transform: rotate(180deg); color: #fff; margin-top: 6px;">logout</mat-icon>
</div>
