<div class="profile">
  <img src="https://www.shutterstock.com/image-vector/young-man-anime-style-character-600w-2240084847.jpg" alt="profile-photo" width=120>
  <h3>Rol</h3>
  <a href="">Go to profile</a>
</div>
<mat-nav-list>
  <mat-list-item>
    <mat-icon>home</mat-icon><a>Home</a>
  </mat-list-item>

  <mat-list-item [activated]="true">
    <mat-icon >group</mat-icon><a >Usuarios</a>
  </mat-list-item>
  <mat-list-item style="display: flex">
     <a>Cursos</a>
  </mat-list-item>
  <mat-list-item>
    <a>Alumnos</a>
  </mat-list-item>
  <mat-list-item>
  <a>Inscripciones</a>
  </mat-list-item>
</mat-nav-list>



