<div class="container-background" >
  <div class="row background m-0 ">
    <div class="col-8" style="color: #fff;">
        <h2>Información Personal</h2>
        <p><strong>Nombre:</strong> JAROL VALDEZ PACHERRES</p>
        <p><strong>Edad:</strong> 18</p>
        <p><strong>Correo Electrónico:</strong>  jatlosale@gmail.com</p>
        <p><strong>Ubicación:</strong> Peru</p>
        <p><strong>Rol:</strong> recursos humanos</p>
      <button>Change rol</button>
      <button>Disable</button>
    </div>
    <div class="col-4 mt-5">
      <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D" alt="jpf" width="200px">
    </div>
  </div>
  <div class="row m-0">
    <div class="col-5 mt-4">
      <div>
        <mat-card class="example-card">
          <mat-card-title>Total de inscripcionees</mat-card-title>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-7 mt-4">
      <mat-card class="example-card p-2">
        <mat-card-title>inscripciones</mat-card-title>
        <mat-card-content>
          <app-table-user></app-table-user>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
<p>{{id}}</p>
</div>
